:root{
  --elevation-0: none;
  --elevation-1: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  --elevation-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --elevation-3: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  --elevation-4: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --elevation-5: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  --elevation-6: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  --elevation-7: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12), 0 5px 6px -3px rgba(0, 0, 0, 0.2);
  --elevation-8: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  --elevation-9: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  --spacing-1: 0.146rem;
  --spacing-2: 0.236rem;
  --spacing-3: 0.382rem;
  --spacing-4: 0.618rem;
  --spacing-5: 1rem;
  --spacing-6: 1.618rem;
  --spacing-7: 2.618rem;
  --spacing-8: 4.235rem;
  --spacing-9: 6.854rem;
  --spacing-10: 11.089rem;
  --spacing-11: 17.942rem;
  --spacing-12: 29.03rem;

  --font-size-0: 0.625rem;
  --font-size-1: 0.8125rem;
  --font-size-2: 1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.625rem;
  --font-size-5: 2.0625rem;
  --font-size-6: 2.625rem;
  --font-size-7: 4.226rem;
  --font-size-8: 6.804rem;
  --font-size-9: 10.95rem;

  --gray-1: #000000;
  --gray-2: #0d0d0d;
  --gray-3: #1a1a1a;
  --gray-4: #262626;
  --gray-5: #333333;
  --gray-6: #404040;
  --gray-7: #4d4d4d;
  --gray-8: #595959;
  --gray-9: #666666;
  --gray-10: #737373;
  --gray-11: #808080;
  --gray-12: #8c8c8c;
  --gray-13: #999999;
  --gray-14: #a6a6a6;
  --gray-15: #b3b3b3;
  --gray-16: #bfbfbf;
  --gray-17: #cccccc;
  --gray-18: #d9d9d9;
  --gray-19: #e6e6e6;
  --gray-20: #ffffff;

  --dark-text-color: #e6e6e6;
  --light-text-color: #0d0d0d;
}
