<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      {% include "build/index.css" %}
    </style>

    <script>
      {% include "src/scripts/gsap/DrawSVGPlugin.min.js" %}
      {% include "src/scripts/gsap/MorphSVGPlugin.min.js" %}
      {% include "src/scripts/gsap/gsap.min.js" %}
      {% include "src/index.js" %}
    </script>

    <title>Document</title>
  </head>
  <body>
    <main>
      {% include "src/logo.svg" %}
    </main>
  </body>
</html>